<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajax Practice</title>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        function Ajax01() {

            const xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {

                if (this.readyState == 4 && this.status == 200) {
                    data = this.responseText;

                    document.getElementById("demo").innerHTML = data;
                    data = JSON.parse(data);

                    // document.getElementById("name").innerHTML = data.name;
                    // document.getElementById("age").innerHTML = data.age;

                }
            }

            xhttp.open("GET", "getdata");
            xhttp.send();
        };


        function ShowChart() {

            google.charts.load('current', { 'packages': ['corechart'] });
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {

                var data = google.visualization.arrayToDataTable([
                    ['Age', 'Weight'],
                    [8, 12],
                    [4, 5.5],
                    [11, 14],
                    [4, 5],
                    [3, 3.5],
                    [6.5, 7]
                ]);

                var options = {
                    title: 'Age vs. Weight comparison',
                    hAxis: { title: 'Age', minValue: 0, maxValue: 15 },
                    vAxis: { title: 'Weight', minValue: 0, maxValue: 15 },
                    legend: 'none'
                };

                var chart = new google.visualization.ScatterChart(document.getElementById('chart_div'));

                chart.draw(data, options);
            }
        };

        function Ajax02() {

            const xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {

                if (this.readyState == 4 && this.status == 200) {
                    data = this.responseText;
                    data = JSON.parse(data);

                    document.getElementById("info").innerHTML = 'Name : ' + data.ename + ' / Sal : ' + data.sal;

                }
            }
            xhttp.open("POST", "getemp");
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.send("empno=" + document.getElementById("empno").value);
        };

    </script>

    <style>
        body,
        button,
        input {
            text-align: center;
            font-family: Montserrat;
        }

        #chart_div,
        #demo,
        #info {
            text-align: center;
            font-weight: bold;
        }

        .box {
            margin: 0 auto;
            width: 300px;
            height: 10px;
        }
    </style>

</head>

<body>

    <br><button onclick="Ajax01()">Data Access</button><br><br>
    <div class="box" id="demo"></div>

    <br><hr width="40%"><br>

    <button onclick="ShowChart()">Show Chart</button><br><br>
    <div class="box" id="chart_div" style="width: 900px; height:350px" style="align-content: center;"></div>

    <br><hr width="40%"><br>

    <input style="font-size: smaller;" type="text" id="empno" placeholder="Write Empno & Search"><br><br>
    <button onclick="Ajax02()">Search</button><br><br>
    <div class="box" id="info"><br><br></div>


</body>

</html>